<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style type="text/css">
	body{
		background-color: #638CB8
	}
	.btn{
		width: 100%;
	}
	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}
	input::placeholder {
		color: #d3d3d3;
	}
	.submit{
		background-color: #6BA3E8
	}
	.center-column{
		width: 600px;
		margin: 20px auto;
		padding: 20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}
	.item-row{
		background-color: #906abd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}
	.checkbox{
		position: absolute;
		margin-left: 20px;
		margin-top: 0px; 
		height: 25px;
		width: 25px;
		background-color: #eee;
	}
</style>
<div class="center-column">
<p align="center"> Are you sure you want to delete "{{item}}"?</p>
<form method="post" action="">
	{% csrf_token %}
	<input type="submit" class="btn btn-danger" name="Confirm">
</form>
<a class="btn btn-info" href="{% url 'list' %}">Cancel</a>
</div>